@using HoneyWebPlatform.Services.Data.Interfaces
@using HoneyWebPlatform.Web.Infrastructure.Extensions
@model HoneyAllViewModel

@inject IBeekeeperService BeekeeperService
@inject IHoneyService HoneyService
@{
    bool isUserBeekeeper = await BeekeeperService.BeekeeperExistsByUserIdAsync(User.GetId()!);
    bool isBeekeeperOwnerOfTheHoney = await BeekeeperService.HasHoneyWithIdAsync(User.GetId(), Model.Id);
}


<div class="single_food_item media" asp-area="" asp-controller="Honey" asp-action="Details" asp-route-id="@Model.Id">
    <div class="crop-img mr-3">
        <img src="@Model.ImageUrl" alt="Honey Image">
    </div>
    <div class="media-body align-self-center">
        <h3>@Model.Title</h3>
        <p>Произход: <b>@Model.Origin</b></p>
        <h5><b>@($"{Model.Price:f2}") лв</b></h5>
        <a asp-area="" asp-controller="Honey" asp-action="Details" asp-route-id="@Model.Id"
           class="genric-btn info radius">Детайли</a>

        <form method="post" asp-area="" asp-controller="User" asp-action="AddToCart" asp-route-honeyId="@Model.Id" asp-route-quantity=1>
            <button type="submit" class="genric-btn success radius">Купи</button>
        </form>


        @if (User.Identity?.IsAuthenticated ?? false)
        {
            @if ((isUserBeekeeper && isBeekeeperOwnerOfTheHoney) || User.IsAdmin())
            {
                <a asp-area="" asp-controller="Honey" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Редактирай</a>
                <a asp-area="" asp-controller="Honey" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Изтрий</a>
            }

            @if (User.IsAdmin())
            {
                <form method="post" asp-area="Admin" asp-controller="Honey" asp-action="Promote" asp-route-id="@Model.Id">
                    <button type="submit" class="genric-btn primary e-large mt-2">Промотирай/Демотирай</button>
                </form>
            }
            <p></p>
        }
    </div>
</div>
