@using HoneyWebPlatform.Services.Data.Interfaces
@using HoneyWebPlatform.Web.Infrastructure.Extensions
@model IndexViewModel

@inject IBeekeeperService BeekeeperService
@{
    ViewData["Title"] = "Начална Страница";

    var honeys = Model.Honeys.ToList();
    var propolises = Model.Propolises.ToList();
    bool isUserBeekeeper = await BeekeeperService.BeekeeperExistsByUserIdAsync(User.GetId()!);
}

@if (!honeys.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Добре дошли на най-хубавото място за Пчелари!</h1>
        <p class="lead">
            В момента няма налични медове и прополиси. 
            Защо не добавите някой?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (isUserBeekeeper)
                {
                    <a asp-controller="Honey" asp-action="Add" class="btn btn-primary btn-lg"
                       role="button">Добави Мед</a>
                    <a asp-controller="Propolis" asp-action="Add" class="btn btn-primary btn-lg"
                       role="button">Добави Прополис</a>
                }
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <h1 class="display-4">Налични Медове:</h1>
        @for (int i = 0; i < honeys.Count(); i++)
        {
            var honey = honeys[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                     src="@honey.ImageUrl" alt="@honey.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Honey" asp-action="Details"
                           asp-route-id="@honey.Id"> @honey.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предишен</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следващ</span>
    </button>
</div>

<div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <h1 class="display-4">Налични Прополиси:</h1>
        @for (int i = 0; i < propolises.Count(); i++)
        {
            var propolis = propolises[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                     src="@propolis.ImageUrl" alt="@propolis.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Propolis" asp-action="Details"
                           asp-route-id="@propolis.Id"> @propolis.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предишен</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следващ</span>
    </button>
</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Покажи Статистиката</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h3 class="col-md-6 text-center" id="total_honeys"></h3>
        <h3 class="col-md-6 text-center" id="total_propolises"></h3>
    </div>
</div>

@section Scripts
{
    <script>statistics();</script>
}
