@model AllHoneysQueryModel

@{
    ViewBag.Title = "Всички Медове";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"> Категория</label>
                <select asp-for="Category" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="HoneysPerPage">Медове на Страница</label>
                <select asp-for="HoneysPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchString"> Търси</label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="HoneySorting">Подреди първо да е</label>
                <select asp-for="HoneySorting" class="form-control">
                    <option value="0">Новия</option>
                    <option value="1">Стария</option>
                    <option value="2">Евтиния</option>
                    <option value="3">Скъпия</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Търси" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalHoneys /
        Model.HoneysPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Honey"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.HoneySorting)"><<</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
            !Model.Honeys.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary 
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Honey"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.HoneySorting)">>></a>
    </div>
</div>

@if (!Model.Honeys.Any())
{
    <h2 class="text-center">Няма намерени медове с този критерии!</h2>
}

<div class="row">
    @foreach (var honey in Model.Honeys)
    {
        <partial name="_HoneyPartial" model="@honey" />
    }
</div>

