@using HoneyWebPlatform.Services.Data.Interfaces
@using HoneyWebPlatform.Web.Infrastructure.Extensions
@model PropolisDetailsViewModel

@inject IBeekeeperService BeekeeperService
@inject IPropolisService PropolisService
@{
    bool isUserBeekeeper = await BeekeeperService.BeekeeperExistsByUserIdAsync(User.GetId()!);
    bool isBeekeperOwnerOfThePropolis = await BeekeeperService.HasPropolisWithIdAsync(User.GetId(), Model.Id);
}

@{
    ViewBag.Title = "Propolis Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Propolis Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Flavour: <b>@Model.Flavour</b></p>
            <div class="form-inline">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    @if ((isUserBeekeeper && isBeekeperOwnerOfThePropolis) || User.IsAdmin())
                    {
                        <a class="btn btn-warning" asp-controller="Propolis" asp-action="Edit"
                           asp-route-id="@Model.Id">Edit</a>
                        <a class="ml-2 btn btn-danger" asp-controller="Propolis" asp-action="Delete"
                           asp-route-id="@Model.Id">Delete</a>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Beekeeper Info</h5>
                    <p class="card-text">Full Name: @Model.Beekeeper.FullName</p>
                    <p class="card-text">Email:  @Model.Beekeeper.Email</p>
                    <p class="card-text">Phone Number: @Model.Beekeeper.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>
